<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mitchell1</title>
    <link rel="shortcut icon" href="~/images/favicon_sm.png">
    <link rel="apple-touch-icon" href="~/images/favicon_lg.png">
    <!-- CSS -->
    <link href="~/lib/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link href="~/lib/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/css/responsive.css" rel="stylesheet">
    <style>
        .slider-list
        {
            animation:slider 9s infinite linear;
        }

        @@keyframes slider
        {
           0%{ background-image:url('/images/slider1.jpg');}
           20%{ background-image:url('/images/slider2.jpg');}
           50%{ background-image:url('/images/slider3.jpg');}
           70%{ background-image:url('/images/slider4.jpg');}
           100%{ background-image:url('/images/slider5.jpg');}
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="logo-button-bar">
            <div class="inner-container">
                <div class="res-logo-box">
                    <a href="#">
                        <img src="~/images/Mitchell1-logo.png">
                    </a>
                </div>
                <div class="header-button-box home_page_header">

                    <div class="hbb-button hbb-user">
                        <img src="~/images/user-box-icon.png">
                    </div>
                    <div class="hbb-button hbb-search">
                        <img src="~/images/search-box-icon.png">
                    </div>
                    <div class="hbb-button hbb-mail">
                        <img src="~/images/mail-box-icon.png">
                    </div>
                    <div class="hbb-button top-nav-btn">
                        <img src="~/images/smu-row-btn.png">
                    </div>
                    <div class="header-popup-box profile-box">
                        <i class="far fa-times-circle"></i>
                        <div class="pb-user-photo-name">
                            <div class="pb-user-photo"></div>
                            <div class="pb-user-name">
                                <h3>Parth Bhuta</h3>
                                <span>parthsbhuta@gmail.com</span>
                            </div>
                        </div>
                        <ul class="pb-user-list">
                            <li>
                                <a>
                                    <i></i>
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i></i>
                                    Activity
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i></i>
                                    Message
                                </a>
                            </li>
                        </ul>
                        <div class="header-logout">
                            <a href="Login.html">logout</a>
                        </div>
                    </div>
                    <div class="header-popup-box search-box">
                        <input type="text" placeholder="Search here">
                        <a></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-bar">
            <div class="inner-container">
                <div class="side-box-close-btn">
                    <i class="far fa-times-circle"></i>
                </div>
                <ul class="menu-list">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <aside class="right-menu">
        <div class="side-box-close-btn">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="right-inner-box customscrollbar mCustomScrollbar _mCS_1">
            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="contact-box">
                        <div class="contact-box-header">
                            <h2>Contact us</h2>
                            <p>We will respond using your provided email address</p>
                        </div>
                        <div class="contact-form-box">
                            <div class="field-container">
                                <span class="cbf-box">
                                    <input class="cbf-field" type="text" id="txtContactName">
                                    <label class="cbf-label" for="txtContactName">
                                        <i class="fa fa-fw fa-user icon"></i>
                                        <span class="cbf-label-content">Your Name</span>
                                    </label>
                                </span>
                                <span class="cbf-box">
                                    <input class="cbf-field" type="text" id="txtContactEmail">
                                    <label class="cbf-label" for="txtContactEmail">
                                        <i class="fa fa-fw fa-envelope icon"></i>
                                        <span class="cbf-label-content">Email</span>
                                    </label>
                                </span>
                                <span class="cbf-box">
                                    <input class="cbf-field" type="text" id="txtContactPhone">
                                    <label class="cbf-label" for="txtContactPhone">
                                        <i class="fa fa-fw fa-phone icon"></i>
                                        <span class="cbf-label-content">Phone</span>
                                    </label>
                                </span>
                                <span class="cbf-box">
                                    <input class="cbf-field" type="text" id="txtContactMessage">
                                    <label class="cbf-label" for="txtContactMessage">
                                        <i class="fa fa-fw fa-comment icon"></i>
                                        <span class="cbf-label-content">Message</span>
                                    </label>
                                </span>
                                <button class="cbf-button" id="btnContactUsEmail" title="Get in touch">Get in touch</button>
                            </div>
                        </div>
                        <div class="call-us-box">
                            <i class="fa fa-mobile"></i>
                            <h2>000 000 000</h2>
                            <p>Call Us</p>
                        </div>
                        <div class="social-box">
                            <div class="contact-box-header">
                                <h2>We are at social</h2>
                                <p>Get connected with us on social</p>
                            </div>
                            <ul class="social-box-list">
                                <li>
                                    <a href="#" class="fb" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tw" title="Twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="gp" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pi" title="Pintrest">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 105px; max-height: 302px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </div>
        </div>
    </aside>
    <section class="section">
        <div class="slider-row">
            <ul class="slider-list">
                <li class="sliderbox" style="display: none;">
                    <img src="~/images/slider1.jpg" class="animate-fading">
                    <div class="slider-content-box animate-top">
                        <div class="scb-main-title">ProDemand</div>
                        <div class="scb-main-content">Repair Information + Real Fixes</div>
                        <div class="scb-sub-title">A Single Lookup gets you there.</div>
                        <div class="scb-content">Complete OEM data and real-world tips.</div>
                        <div class="scb-button-box">
                            <a href="Product-Detail.html" class="scb-button">Read More</a>
                            <div class="scb-button">See How</div>
                            <div class="scb-button scb-req-info-btn">Request Info</div>
                        </div>
                    </div>
                </li>
                <li class="sliderbox" style="display: none;">
                    <img src="~/images/slider2.jpg" class="animate-fading">
                    <div class="slider-content-box animate-bottom">
                        <div class="scb-main-title">ProDemand 2</div>
                        <div class="scb-main-content">Repair Information + Real Fixes</div>
                        <div class="scb-sub-title">A Single Lookup gets you there.</div>
                        <div class="scb-content">Complete OEM data and real-world tips.</div>
                        <div class="scb-button-box">
                            <div class="scb-button">Read More</div>
                            <div class="scb-button">See How</div>
                            <div class="scb-button scb-req-info-btn">Request Info</div>
                        </div>
                    </div>
                </li>
                <li class="sliderbox" style="display: none;">
                    <img src="~/images/slider3.jpg" class="animate-fading">
                    <div class="slider-content-box animate-top">
                        <div class="scb-main-title">ProDemand 3</div>
                        <div class="scb-main-content">Repair Information + Real Fixes</div>
                        <div class="scb-sub-title">A Single Lookup gets you there.</div>
                        <div class="scb-content">Complete OEM data and real-world tips.</div>
                        <div class="scb-button-box">
                            <div class="scb-button">Read More</div>
                            <div class="scb-button">See How</div>
                            <div class="scb-button scb-req-info-btn">Request Info</div>
                        </div>
                    </div>
                </li>
                <li class="sliderbox" style="display: none;">
                    <img src="~/images/slider4.jpg" class="animate-fading">
                    <div class="slider-content-box animate-bottom">
                        <div class="scb-main-title">ProDemand 4</div>
                        <div class="scb-main-content">Repair Information + Real Fixes</div>
                        <div class="scb-sub-title">A Single Lookup gets you there.</div>
                        <div class="scb-content">Complete OEM data and real-world tips.</div>
                        <div class="scb-button-box">
                            <div class="scb-button">Read More</div>
                            <div class="scb-button">See How</div>
                            <div class="scb-button scb-req-info-btn">Request Info</div>
                        </div>
                    </div>
                </li>
                <li class="sliderbox" style="display: block;">
                    <img src="~/images/slider5.jpg" class="animate-fading">
                    <div class="slider-content-box animate-top">
                        <div class="scb-main-title">ProDemand 5</div>
                        <div class="scb-main-content">Repair Information + Real Fixes</div>
                        <div class="scb-sub-title">A Single Lookup gets you there.</div>
                        <div class="scb-content">Complete OEM data and real-world tips.</div>
                        <div class="scb-button-box">
                            <div class="scb-button">Read More</div>
                            <div class="scb-button">See How</div>
                            <div class="scb-button scb-req-info-btn">Request Info</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="slider-bullets">
                <li class="sb-bullets" onclick="currentDiv(1)"></li>
                <li class="sb-bullets" onclick="currentDiv(2)"></li>
                <li class="sb-bullets" onclick="currentDiv(3)"></li>
                <li class="sb-bullets" onclick="currentDiv(4)"></li>
                <li class="sb-bullets active" onclick="currentDiv(5)"></li>
            </ul>
        </div>
        @RenderBody()
    </section>
    <footer class="footer hp-footer">
        ©2018 Mitchell Repair Information Company, LLC. All Rights Reserved.   Mitchell 1® is a registered trademark used herein under license.
    </footer>
    <!-- JS -->
    <script src="~/lib/Js/jquery.min.js"></script>
    <script src="~/lib/Js/bootstrap.js"></script>
    <script src="~/lib/Js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/Js/custom.js"></script>
    <script src="~/lib/Js/classie.js"></script>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("sliderbox");
            var dots = document.getElementsByClassName("sb-bullets");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</body>
</html>





